<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20" disabled></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}
    <script>
        let chatSocket = null
        openSocket = function () {
            if (chatSocket !== null) {
                return
            }
            console.log('open Socket')
            chatSocket = new WebSocket(
                'ws://'
                + window.location.host
                + '/ws/gateway_state/'
                + '?token=ef33d2512929d5f069bd1fdb87f079190863305a'
            )

            chatSocket.onmessage = function(e) {
                const data = JSON.parse(e.data)
                document.querySelector('#chat-log').value += (data.message + '\n')
            }

            chatSocket.onclose = function(e) {
                console.log('Socket closed')
                chatSocket = null
                console.log('socket reconnect in 5 sec')
                setTimeout(openSocket, 5000)
            }
            setTimeout(function (){
                chatSocket.send(JSON.stringify({
                    'message': 'get_data'
                }));
            }, 1000)
            setInterval(function(){
                chatSocket.send(JSON.stringify({
                    'message': 'get_data'
                }));
            }, 10000);
        }
        openSocket()
        document.addEventListener("visibilitychange", function(){
            if (document.hidden) {
                if (chatSocket.readyState === 1) {
                    chatSocket.close()
                }
            } else {
                openSocket()
            }
        })

        document.querySelector('#chat-message-input').focus()
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click()
            }
        }

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input')
            const message = messageInputDom.value
            chatSocket.send(JSON.stringify({
                'message': 'get_data'
            }));
            messageInputDom.value = ''
        }
    </script>
</body>
</html>